
li {display:block;  list-style-type:none; padding:10px; text-align:center; }
body {font-family: 'Roboto Mono', monospace;}
* {box-sizing:border-box; }
h1 {text-align:center;}
img {width:300px; margin:auto;}
.item {text-align:center;}
.wrapper {text-align:center;}
.wrapper2 {text-align:center; }
#contact {text-align:center; clear:both;}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.div2 {text-align:center; margin:10px; color:red;}
nav {text-align:center;}
a {text-decoration:none; background-color:white;}
.div3 {background-color:lightgrey; font-family: 'Ubuntu', sans-serif; }
.l {text-align:center;}
.ul {font-family: 'Ubuntu', sans-serif;}
.name {font-family: 'Ubuntu', sans-serif;}
@media (min-width:768px) {.item {width:50%; float:left; } li {display:inline;} 
.matty { float:left; overflow:hidden; margin-left:75px;} 
 }

@media (min-width:1024px) {.item {width:33%; float:left;}}